* body{

  /* Estas propiedades permiten resetear todos los estilos*/
    background-color: azure;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

  
    h1{ /* centrar elementos*/
      padding: 2px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

